<div>
  <div *ngIf="currentUser.id">
    <h4>User</h4>
    <div>
      <label><strong>Username:</strong></label> {{ currentUser.username }}
    </div>
    <div>
      <label><strong>Email:</strong></label> {{ currentUser.email }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentUser.enabled ? "Active" : "Disabled" }}
    </div>

    <a class="badge badge-primary" routerLink="/users">Back</a>
  </div>

  <div *ngIf="!currentUser.id">
    <br />
    <p>Please click on a User...</p>
  </div>
</div>
